body{
    background-image: url("img/dancing\ barbie\ dogs.gif");
    color :rgb(250, 250, 250);
    text-align: center;
    font-size: larger;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 8px #1d201e;
    background-size: 100%;
    background-repeat:repeat;
    

   
}

.alignleft{
    float: left;

}
.art{
    background-size: 100%;
    background-repeat: no-repeat;
}

div.parent{
    align-content: last baseline;
    align-items: baseline;
    position: absolute;
  width: 50%;
  bottom: 10px;
  border: 3px solid #8AC007;
  padding: 100px;

}
.zoi{
    background-image:url(img/zoi\ zoi\ zoi\ zoi\ zoi\ zoi\ cat.jfif);
}

div{
    background-image: url());
    align-items: center;
    text-align: center;
    color: rgb(20, 192, 20);
    background-color: rgb(135, 181, 142);
    border: 3px solid rgb(0, 255, 0);
    border-radius: 22px;
}